# --- OS Metadata ---
.DS_Store
Thumbs.db
desktop.ini

# --- Editors/IDEs ---
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# --- Database Tooling ---
# DBeaver
.dbeaver/
Scripts/

# Oracle SQL Developer
.sqleditor/

# --- Temporary/Logs ---
*.log
*.tmp
*.bak
*.sql.bak